.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    background-color: #d1174fd8;
    color: white;
    border-radius: 20px;
    padding: 25px;
}

.modalContainer_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.modalContainer_footer {
    display: flex;
    justify-content: space-between;
    bottom: 40px;
    position: fixed;
    align-items: center
}

.modalContainer_buttons {
    display: flex;
    gap: 20px;
    position: fixed;
    right: 20px;
}

.close-button:hover {
        opacity: 0.6;
}